header{
    h1{
        text-align: center;
        font-size: 40px;
        font-family: 'Rubik Wet Paint', cursive;
        color: black;
    }
    h1:hover{
        color: darkolivegreen;

    }
}
nav{
    h1{
        text-align: center;
        font-size: 27px;
        color: black;
    }
    ul{
        text-align: center;
        height: 60px;
    }
    a{
        text-decoration: none;
        color: black;
        font-size: 27px;
        display: flex;
        height: 10px;
        margin: 20px;
    }
    a:hover{
        color: blueviolet;
    }
    li{
        display: inline-block;
    }
}