section{
    border: 7px solid;
   .til1h1{
       font-family: monospace;
       font-size: 35px;
       text-align: center
       ;
   }
    .til2h1{
        font-family: monospace;
        text-align: center;
        font-size: 35px;
    }
    
}