h2{
    text-align: center;
    font-size: 49px;
    font-family: 'Rubik Wet Paint', cursive;
   }
   .princ2 div{
       background-color: white;
      padding: 3em;
      }
      .princ2{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
       grid-auto-rows: minmax(120px, auto);
    
       gap: 7px;
   
      }
       .princ2 :hover{      
       border: 4px solid darkviolet;
   }